
/*@import url(http://fonts.googleapis.com/css?family=Codystar:300,400);*/
@import url(http://fonts.googleapis.com/css?family=Special+Elite);

 body {
        text-align: center;
        font-size: 16px;
        font-family: 'Special Elite', sans-serif;
        /*font-weight: 200;*/
        /*background:url(../images/pinkgraph3.png);*/
        background:url(http://i.imgur.com/uKWRnAI.png);
        background-attachment: fixed;
        background-size:cover;
        color:#BC8F8F;
}

h1 {
        color:#000;
        font-size: 5em;
}

nav {
        padding-top:0.2px;
        padding-bottom:0.2px;
        border: 0.5em dashed;
        border-color:#000;
        border-width:1px;
        font-size:.8em;
        font-family: helvetica, sans-serif;
        /*position: fixed;*/
}

h2 {
        text-align: center;
        font-size:2em;
}

 a {
        color:#000;
        text-decoration: none;
        font-family:helvetica, sans-serif;
}

a:hover {
        color:#0FF4F9;
        font-weight:bold;
}

 
li {
        text-align: center;
        list-style-type: none;
        padding-right: 50px;
        padding-left: 50px;
        display: inline;
        margin:.12em;
}

#slogan {
 
        font-style: italic;
        font-family:helvetica, sans-serif;
        color:#BB0459;
        padding-top: 25px;
        padding-right: 50px;
        padding-bottom: 25px;
        padding-left: 50px;
}

#sec1 {
        background-color:rgba(242,228,229,0.3);
        font-family:helvetica, sans-serif;
        font-size:.8em;
        width: 40%; /*adjusts size of sec1*/
        border: 0.1em solid; /*creates a border around sec1.  without this, the background color would not be contained*/
        padding: 1em; 
        text-align:center;
        margin:auto; /*centers sec1*/
}

#sec2 {
        background-color:rgba(13,255,193,0.3);
        font-family:helvetica, sans-serif;
        font-size:.8em;
        width: 40%; /*adjusts size of sec2*/
        border: 0.1em solid; /*creates a border around sec2.  without this, the background color would not be contained*/
        padding: 1em; 
        text-align:center;
        margin:auto; /*centers sec2*/
}

#sec3 {
        background-color:rgba(109,144,156,0.3);
        font-family:helvetica, sans-serif;
        font-size:.8em;
        width: 40%; /*adjusts size of sec3*/
        border: 0.1em solid; /*creates a border around sec3.  without this, the background color would not be contained*/
        padding: 1em; 
        text-align:center;
        margin:auto; /*centers sec3*/
}


#contact {
        color:#0DFFC1;
        text-decoration: none;
        font-size:.6em;
}
