/** {
        margin:0;
        padding:0;
        box-sizing: border-box;
}*/ /*beginning of reset*/

/*@import url(http://fonts.googleapis.com/css?family=Codystar:300,400);
/*@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700&subset=latin,latin-ext);*/
@import url(http://fonts.googleapis.com/css?family=Special+Elite);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Vollkorn&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

 body {
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
        background:url(../images/pinkgraph3.png);
        background-attachment: fixed;
        background-size:cover;
        color:#BC8F8F;
}

#headline1, h1 {
        font-family:'Special Elite', sans-serif;
        color:#50514F;
        font-size:2.5em;
        text-decoration:none;
        text-align: left;
}

nav {
        
        margin:auto;
        width:80%;
        font-size:1.2em;
        /*position: fixed;
        padding-top:1em;
        padding-bottom:0.0125em;
        padding-right:1em;
        border: 0.5em dashed;
        border-color:#000;
        border-width:1px;*/
}

li {
        text-align: center;
        list-style-type: none;
        padding-right: 5px;
        padding-left: 5px;
        display: inline;
}

#slogan {
        text-align:center;
        font-family:'Special Elite', serif;
        color:#50514F;
        font-size:1.5em;
        padding-top: 25px;
        padding-right: 50px;
        padding-bottom: 25px;
        padding-left: 50px;
}


.readmore, nav a {
        color:#000;
        text-decoration: none;
        font-family:'Raleway', sans-serif;
        font-weight:700;
        padding:5px; /*instead of adding padding to the hover selector, add the padding to the anchors instead to prevent shifting when hovering*/
}


.readmore:hover, nav a:hover {
        background-color:#50514F;
        color:#FFF;
      }  


h2 {
        text-align: center;
        font-size:2em;
        font-family:'Raleway', sans-serif;
        color:#50514F;
}

.review {
        font-family:'Droid Serif', serif;
        font-size: 1em;
        line-height:1.5em;
        width: 50%; /*adjusts size of sec*/
        border: 0.1em solid; /*creates a border around sec.  without this, the background color would not be contained */
        padding: 5em; 
        text-align:center;
        margin:auto; /*centers sec*/
}

#sec1 {
        background-color:rgba(242,228,229,0.3);
        color:#D533E1;
}

#sec2 {
        background-color:rgba(13,255,193,0.5);
        color:#376EE1;
}

#sec3 {
        background-color:rgba(109,144,156,0.2);
        color:#BC8F8F
}

footer {
        margin-top:20px;
        text-align: left;
}

