/*@import url(http://fonts.googleapis.com/css?family=Codystar:300,400);
/*@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700&subset=latin,latin-ext);*/
@import url(http://fonts.googleapis.com/css?family=Special+Elite);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Vollkorn&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

* {
        margin:0;
        padding:0;
        box-sizing: border-box;
} /*reset*/


 body {
        font-size: 16px;
        font-family: Arial, sans-serif;
        color:#BC8F8F;
        background: #FFFFFF;
}

h1 {
text-align: left;
}

#wordmark {
        font-family:'Special Elite', sans-serif;
        color:#50514F;
        font-size:2.5em;
        text-decoration:none;
}

nav {
        font-family: 'Raleway', sans-serif;
      /*position: fixed;*/
        /*top:10%;*/
        /*width: 100%;*/
}

nav a {
    display: block;
    float: left;
    margin: 0 2% 0 2%;
    padding:.3em; /*instead of adding padding to the hover selector, add the padding to the anchors instead to prevent shifting when hovering*/
    color:#000;
    text-decoration: none;
    font-family:'Raleway', sans-serif;
    font-weight:700;
}

nav a:hover {
    background-color:#50514F;
    color:#FFF;
    border-radius:.5em;
}  

h2 {
        text-align: center;
        font-size:2em;
        font-family:'Raleway', sans-serif;
        color:#FFFFFF;
}

#slogan {

    background:url(../images/misc2.png);
    background-attachment: fixed; /*this makes my husband crazy in the eyes */
    background-size:cover;
    padding: 7em;
    text-align:center;
    font-family:'Special Elite', serif;
    color:#BBC1C4;
    font-size:2em;
    font-weight:200;
}

#slogan h2 {
        text-align: center;
        font-size:2.5em;
        font-family:'Raleway', sans-serif;
        color:#BBC1C4;
}

img {
    margin:0 0 0 10%;
}

.readmore {
        color:#FFFFFF;
        text-decoration: none;
        font-family:'Raleway', sans-serif;
        font-weight:700;
        border-radius:1em;
        border: .1em #FFFFFF solid;
        padding: 1em;
        width:2%;
        margin: 10% 0;
}

.readmore:hover {
    background-color:#50514F;
    color:#FFF;
}


.col2 {
    float: left;
    width: 48%;
    margin: 2% 1%;
}

.col2 h2, #about h2 {
    padding: 1em;
    border-bottom: solid .05em #FFFFFF;
    width:30%;
}

.col2 p, #about p {
    font-family:'Raleway', sans-serif;
    font-size: 1.25em;
    color:#FFFFFF;
}

#about p {
    width:50%;
    margin: auto;
}

#makeup {
    background-color:#00A2FF;
}

#skincare {
    background-color:#FF360C;
}

#about {
    background: url(../images/glitterbomb2.png);
    background-size: cover;
    padding:4em;
}


#makeup_par, #skincare_par {
    margin:0 28% 0 10%;
    text-align:justify;
}

.wrap {
    margin: 10px 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.col2 a {
    display:block;
    width:30%;
}

@media only screen and (max-width:768px){
    body {
        font-size: 14px;
    }

    h1 {
        text-align: center;
    }

    nav a {
        float: none;
        text-align: center;
    }

    .col2 {
        float: none;
    }

    p {
        float:none;
    }
}


@media only screen and (max-width:480px){
    body {
        font-size: 12px;
    }

    img {
        width:100%;
}
}





div, nav, section {
    border: 1px solid #ff0000;
}


























.review {
        font-family:'Droid Serif', serif;
        font-size: 1em;
        line-height:1.5em;
        width: 50%; /*adjusts size of sec*/
        border: 0.1em solid; creates a border around sec.  without this, the background color would not be contained 
        padding: 5em; 
        text-align:center;
        margin:auto; /*centers sec*/
}

#sec1 {
        background-color:rgba(242,228,229,0.3);
        color:#D533E1;
}

#sec2 {
        background-color:rgba(13,255,193,0.5);
        color:#376EE1;
}

#sec3 {
        background-color:rgba(109,144,156,0.2);
        color:#BC8F8F
}

footer {
        margin-top:20px;
        text-align: left;
}
